In [12]:
import pandas as pd
import xlrd
from bokeh.plotting import figure
from bokeh.io import output_file, show

In [4]:
df = pd.read_csv("Times_movement.csv")

In [5]:
df

,Unnamed: 0,Start,End,Time
0,0,2021-07-11 11:44:41.954931,2021-07-11 11:44:42.721210,5.652828
1,1,2021-07-11 11:44:44.495197,2021-07-11 11:44:44.831435,8.193191
2,2,2021-07-11 11:44:46.232248,2021-07-11 11:44:46.390886,9.930905
3,3,2021-07-11 11:44:46.470653,2021-07-11 11:44:46.563257,10.169119
4,4,2021-07-11 11:44:46.660908,2021-07-11 11:44:47.000811,10.358815

In [6]:
x = df["Start"]
y = df["End"]
t = df["Time"]
df["Nr"] = df.index
i = df["Nr"]

x = [i for i in x]
y = [j for j in y]

x[0] = 1
y[0] = 1

z = [1, 2, 3, 4, 5]
g = [1, 2, 3, 4, 5]

In [7]:
x

[1,
 '2021-07-11 11:44:44.495197',
 '2021-07-11 11:44:46.232248',
 '2021-07-11 11:44:46.470653',
 '2021-07-11 11:44:46.660908']

In [8]:
y

[1,
 '2021-07-11 11:44:44.831435',
 '2021-07-11 11:44:46.390886',
 '2021-07-11 11:44:46.563257',
 '2021-07-11 11:44:47.000811']

In [21]:
output_file("Line.html")
f=figure()


f.title.text="Time Object Was Seen"
f.title.text_color="Gray"
f.title.text_font="times"
f.title.text_font_style="bold"
f.xaxis.minor_tick_line_color=None
f.yaxis.minor_tick_line_color=None
f.xaxis.axis_label="Time (Seconds)"
f.yaxis.axis_label="Entry"    

f.circle(t, i, size=[i for i in t], color=["blue" if i <= 10.0 else "red" for i in t])
show(f)

In [16]:
t

0     5.652828
1     8.193191
2     9.930905
3    10.169119
4    10.358815
Name: Time, dtype: float64