In [182]:
import pandas as pd
import xlrd
from bokeh.plotting import figure, output_file, show
import datetime

In [183]:
df = pd.read_csv("Times_movement.csv", parse_dates=["Start", "End"])

In [184]:
df

   Unnamed: 0      Date  Day               Start                 End     Times
0           0  07/11/21  Sun 2021-07-11 16:42:12 2021-07-11 16:42:12  0.188080
1           1  07/11/21  Sun 2021-07-11 16:42:13 2021-07-11 16:42:13  0.096267
2           2  07/11/21  Sun 2021-07-11 16:42:13 2021-07-11 16:42:14  0.472542
3           3  07/11/21  Sun 2021-07-11 16:42:14 2021-07-11 16:42:14  0.098109
4           4  07/11/21  Sun 2021-07-11 16:42:14 2021-07-11 16:42:14  0.190003
5           5  07/11/21  Sun 2021-07-11 16:42:15 2021-07-11 16:42:15  0.187333
6           6  07/11/21  Sun 2021-07-11 16:42:15 2021-07-11 16:42:15  0.185798
7           7  07/11/21  Sun 2021-07-11 16:42:15 2021-07-11 16:42:21  6.207272

In [185]:
dates = df["Date"]
days = df["Day"]
x = df["Start"]
y = df["End"]
t = df["Times"]
df["Nr"] = df.index
i = df["Nr"]

In [186]:
x

0   2021-07-11 16:42:12
1   2021-07-11 16:42:13
2   2021-07-11 16:42:13
3   2021-07-11 16:42:14
4   2021-07-11 16:42:14
5   2021-07-11 16:42:15
6   2021-07-11 16:42:15
7   2021-07-11 16:42:15
Name: Start, dtype: datetime64[ns]

In [187]:
y

0   2021-07-11 16:42:12
1   2021-07-11 16:42:13
2   2021-07-11 16:42:14
3   2021-07-11 16:42:14
4   2021-07-11 16:42:14
5   2021-07-11 16:42:15
6   2021-07-11 16:42:15
7   2021-07-11 16:42:21
Name: End, dtype: datetime64[ns]

In [188]:
#, y_axis_type="auto"
f=figure(width=1500, height=600, x_axis_type="datetime")


f.title.text=f"Motion Graph {dates[0]} {days[0]}"
f.title.text_color="Gray"
f.title.text_font="times"
f.title.text_font_style="bold"
f.xaxis.minor_tick_line_color=None
f.yaxis.minor_tick_line_color=None
f.xaxis.axis_label="Time (Seconds)" 
f.yaxis[0].ticker.desired_num_ticks=1

f.quad(left=x,right=y, top=1, bottom=0, color=["blue" if i < 3 else "Orange" if 3 <= i < 5 else "red" for i in t], alpha=0.5)

output_file("Motion-graph.html")
show(f)

In [41]:
t

0    0.188080
1    0.096267
2    0.472542
3    0.098109
4    0.190003
5    0.187333
6    0.185798
7    6.207272
Name: Times, dtype: float64